.sectorMapa {
    display: flex;
    margin: 0 auto;
    padding-bottom: 100px;
    border-radius: 10px;
    transform: translateY(-1vh);
    width: 80%;
    height: 120%;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .sectorMapa {
        width: 90%;
        padding-bottom: 310px;
    }
}