.nav {
    background-color: #0B1215;
    display: flex;
    color: white;
    font-family: "Libre Franklin", sans-serif;
    padding: 10px;
    position: fixed;
    width: 100%;
    transform: translateY(-100px);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav .uul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}

.nav .uul li {
    position: relative;
}

.nav li:hover a {
    color: #c5c5c5;
    transition: 0.1s;
}

.nav .uul li a {
    white-space: nowrap;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.nav .tit {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin: 10px 0px 10px 35px;
}

.nav .lii::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
}

.nav .lii:hover:before {
    visibility: visible;
    width: 100%;
}

/* --------------------BURGUER-------------------- */
.burguer {
    position: relative;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none;
}

.burguer .lista {
    display: none;
    width: 120px;
    height: 150px;
    list-style-type: none;
    box-shadow: 2px 5px 20px 3px black;
    background-color: #0B1215;
}

.lista li:hover{
    background-color: #0f191d;
}
.lista li a{
    color: white;
    text-decoration: none;
}
.lista li:hover a{
    color: orange;
}

.burguer:hover .lista {
    display: block;
    transform: translateY(30px);
}

.burguer img {
    width: 31px;
    height: 31px;
    transform: translateX(97px) translateY(10px);
}

@media only screen and (max-width: 700px) {

    .uul {
        visibility: hidden;
        position: absolute;
    }

    .burguer{
        display: flex;
    }

    .burguer img {
        display: block;
        cursor: pointer;
        transform: translateX(120px) translateY(10px);
    }

    .lista{
        margin-top: 20px;
       margin-left: 20px; 
    }

}